:root {
  --main-bg-color: #122e32;
  --text-color: #d6d4b9;
  --quest-bg-color: #e4d1af;
  --quest-text-color: #1a1917;
}

.secondary {
  width: 30%;
  height: 90%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.box {
  width: 100%;
  height: 50%;
  border-radius: 15px;
  background-color: var(--main-bg-color);
  border: 3px solid #426265;
  border-radius: 10px;
}

.box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:0.5rem;
}

.hr{
    border-top:1px solid var(--text-color);
    width:55%;
}

h2 {
  color: var(--text-color);
    max-width:100%;
    white-space: normal;
}

p{
    color:whitesmoke;
    max-width:100%;
    white-space: normal;

}

.box2{
  width:100%;
  min-height:33%;
  display: flex;
  display:flex;
  justify-content: left;
  align-items: top;
  flex-direction: column;
  padding: 1rem;
}

.auc{
  width:100%;
  height:18%;
  max-height:50px;
  display:flex;
  justify-content: left;
  align-items: top;
  flex-direction: column;
  gap:4rem;
  overflow: hidden;
  white-space: nowrap;
  transition: 0.66s;
}



.auc h2{
  display:flex;
  gap:0.5rem;
  align-items: center;
  justify-content: flex-start;
  white-space: normal;
  min-width:50px;
  line-height: normal;
  flex:0;
}

.aucbtn{
  width:15px;
  height:15px;
  /* background-color: peachpuff; */
  border-right:2px solid peachpuff;
  border-top:2px solid peachpuff;
  transform: rotate(45deg);
  transition: 0.45s;
  overflow: visible;
  flex-shrink: 0;


}

.auc.shown {
  width:100%;
  height:auto;
  max-height: 100%;
  display:flex;
  justify-content: left;
  align-items: top;
  flex-direction: column;
  gap:0.5rem;
  overflow: hidden;
  white-space: nowrap;
  transition: 0.66s;
  overflow: scroll;
  scrollbar-width: none;
  transform: rotate(deg);

}

.auc.shown .aucbtn{
  width:max(10px,3%);
  height:33%;
  /* background-color: peachpuff; */
  border-right:2px solid peachpuff;
  border-top:2px solid peachpuff;
  transform: rotate(135deg);
  transition: 0.45s;
}

